body {
    background-color:whitesmoke;
    
}

h4 {
    text-align: center;
    font-size: 68px;
    font-weight: 80;
    color: teal;
    }
.imgz {
    width: 200px;
    border-radius: 50%;
    
    
    
}
#hello {
    text-align: center;
    font-size: 30px;
    color: teal;
    }

#aboutme {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


p {
    text-align: justify;
  }

  #email {
      color: black;
      font-size: 15px;
      
  }
  footer {
      background-color: black;
      color: white;
     padding: 0.5em;
  }

